{deps,
 [{cowboy, "2.12.0", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.12.0"}}},
  {jsx, "3.1.0", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.1.0"}}}]}.

{shell, [{apps, [boids_simulation]}]}.

{profiles, [{default, []}, {debug, [{erl_opts, [debug_info, {d, debug}]}]}]}.
